# Visual Studio
.vs/
*.user
*.suo

# Build results
bin/
obj/

# Rider
.idea/

# VS Code
.vscode/

# ASP.NET
appsettings.Development.json
appsettings.*.json

# Logs
*.log

# Others
*.db
*.pdb
*.cache
*.tmp
*.bak
Thumbs.db
.DS_Store

# Entity Framework Migrations
_Migrations/
